.super-mario {
  width: 200px;
  position: absolute;
  top: 250px;
}

.goomba {
  width: 100px;
  position: absolute;
  }

.baloon{
  position: absolute;
  top: 600px;
  
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 600px
}

.bowser {
  width: 200px;
  position: absolute;
  top: 800px;
  left: 260px;
}