.super-mario {
  width: 200px;
  position: absolute;
  top: 250px;
}

.goomba {
  width: 100px;
  position: absolute;
  }

.baloon{
  position: absolute;
  top: 600px;
  z-index: 1;
  
}

.speach {  
  font-size: 25px;
  position: absolute;
  top: 630px;
  left: 20px;
  z-index: 2;  
}

.bowser {
  width: 200px;
  position: absolute;
  top: 800px;
  left: 260px;
}