#header {    
    width: 100%;    
    border: 1.5px solid green;
    display: flex;
    justify-content: space-around;
}

#div-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

#title {
    text-align: center;
    font-size: 2rem;
}


